input[type=submit].menu {
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}
/*      border-radius: 4px;
    moz-border-radius: 4px;
    webkit-border-radius: 4px; */
 

input[type=submit].menu:hover {
    background-color: #45a049;
}

.maxwid {
  max-width: 600px;
  margin: auto;
}

a.menu {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
}

a.menu:hover {
    background-color: #45a049;
}

table.fija {
        width: 100%;
    }

thead.fija, tbody.fija, tr.fija, td.fija, th.fija { display: block; }

tr.fija:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th.fija {
    height: 30px;

    /*text-align: left;*/
}

tbody.fija {
    height: 120px;
    overflow-y: auto;
}

thead.fija {
    /* fallback */
}


tbody td.fija, thead th.fija {
    width: 19.2%;
    float: left;
}
tbody td.fija, thead th.fija {
    width: 19.2%;
    float: left;
}

th {
	text-align: center;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .sidebar-nav .navbar form {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar form {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar form input {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}