html,body {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

ul.ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4CAF50;
	top: 0;
	width:inherit;
}

li.liLeft {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
}

li.liRight{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: right;
}

li.liRightHov{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: right;
    cursor: pointer;
}

a.sup{
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li.liRightHov:HOVER{
	background-color: #45a049;
}

#text {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

div.alineacion {
	float: left;
	height: 100%;
	width: 20%;
}

div.pantalla{
	float: right;
	height: 100%;
	width: 78%;
}

#tablita {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablita td, #tablita th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablita tr:nth-child(even){background-color: #f2f2f2;}

#tablita tr:hover {background-color: #ddd;}

.depositoRojo {
	background-color:#FF0000;
}

#tablita th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

input[type=submit].langg {
    width: 50%;
    background-color: #4CAF50;
    color: white;
/*     padding: 10px 20px;
 */    margin: 0px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input[type=submit].langg:hover {
    background-color: #45a049;
}

a.langg {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 0;
    cursor: pointer;
    text-decoration: none;
}

a.langg:hover {
    background-color: #45a049;
}

select.backVerde {
	background-color: #4CAF50;
}

submit.backVerde {
    background-color: #4CAF50;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}
