<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">


    <appender 
        name="STDOUT" 
        class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d][%logger{20}]%msg%n</pattern>
        </encoder>
    </appender>

    <appender 
        name="FILE" 
        class="ch.qos.logback.core.FileAppender">
        <file>C:/logs/chicken.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>[%d][%logger{20}]%msg%n</pattern>
        </encoder>
    </appender>

	<!-- ESPECIFICAR AQUI EL NIVEL DE LOGUEO (TRACE-DEBUG-INFO-WARN-ERROR) QUE SE ESCRIBE AL ARCHIVO LOG -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE"/>
    </root>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
    </rollingPolicy>

	
	<!-- Spring Webservice XML -->
   	<logger name="org.springframework.ws.client.MessageTracing" additivity="false">
   		<level value="TRACE" />	
    	<appender-ref ref="FILE" />
  	</logger>
   
   	<!-- Spring -->
   	<logger name="org.springframework" level="error" additivity="false">
  		<appender-ref ref="FILE" />
	</logger>
	<!-- Spring JMS -->
	<logger name="org.springframework.jms" level="debug" additivity="false">
	  <appender-ref ref="FILE"/>
	</logger>
	
	<logger name="org.hibernate" level="warn" additivity="false">
	  <appender-ref ref="FILE"/>
	</logger>
	
	<!-- CHICKEN -->
	<logger name="ar.com.escuelita.chicken" level="info" additivity="false">
  		<appender-ref ref="FILE" />
	</logger>
	
</configuration>