<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/jee
          http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">
	
	<security:http pattern="/login" security="none"/>
	
	<security:http>
		<security:intercept-url pattern="/**" access="hasRole('0')" />
		<security:form-login login-page="/login" default-target-url="/ingresar" />
	</security:http>
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider>
			<security:jdbc-user-service data-source-ref="dataSource" role-prefix=""/>
		</security:authentication-provider>
	</security:authentication-manager>
	<bean id="miUserServiceJDBC"
		class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="usersByUsernameQuery"
			value="SELECT nombreUsuario as username, contrasenia as password, true as enabled
                       FROM Usuario WHERE username=?" />
		<property name="authoritiesByUsernameQuery"
			value="SELECT nombreUsuario as username, perfil as authority FROM Usuario WHERE username=?" />
	</bean>

<!-- 	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/securityDS" resource-ref="true" /> -->
</beans>